.framed{
  border: 1px yellowgreen solid;
  margin: 5px;
}

.heading{
  text-align: center;
  background-color: yellowgreen;
  padding: 10px;
}

.wide-button{
  width: 100%;
}

.details{
  text-align: center;
}

h2{
  text-align: left;
}